
/*--------------------      MASTER STYLES       -------------------*/

h2 {
    color: royalblue;
}

/* css selector {
    property: value;
} */

p {
    font-size: 17px;
}

/*-----------------     NAVIGATION BAR STYLES       ---------------*/

a {
    font-size: 20px;
    margin-right: 10px;
}

/*--------------------      CLASS STYLES        -------------------*/

/* Classes allow you to select particular tags only. */
.center {
    text-align: center;
}

/*------------------        ID Styles       -----------------------*/

/* ID selectors work similar to classes. */
#para {
    color: brown;
}
